.Game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 350px;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 1em;

}
.Game button{
    font-family: 'Montserrat', sans-serif;
    background-color: #F2542D;
    color: white;
    border-radius: 10rem;
    margin-top: 20px;
    height: 60px;
    width: 130px;
    outline: 0;
    text-transform: uppercase;
    justify-content: center;
}

.Game img {
    padding-top: 10px;
}

.Start {
    border: 4px solid white;
    background-color: white;
    border-radius: 10rem;
}

.Correct {
    border: 4px solid rgb(5, 250, 5);
    background-color: white;
    border-radius: 10rem;
}

.Wrong {
    border: 4px solid red;
    background-color: white;
    border-radius: 10rem;
}

.GameContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.audio-player{
    display: flex;
    /* height: 500px; */
    width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:0px ;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.artwork{
    height:200px;
    width:200px;
}

.track-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ArtistChoices{
    display: flex;
    justify-content: center;
    width: 350px;
}

.ArtistChoices button{
    font-family: 'Montserrat', sans-serif;
    background-color: #F2542D;
    color: white;
    border-radius: 10%;
    height: 60px;
    width: fit-content;
    outline: 0;
    text-transform: uppercase;
    font-size: .85em;
    border-radius: 10rem;
    font-size: .7em;
}

button{
    font-family: 'Montserrat', sans-serif;
    background-color: #F2542D;
    color: white;
    border-radius: 10%;
    padding:5px;
    height: 40px;
    width: 90px;
    margin: 3px;
    outline: 0;
    text-transform: uppercase;
}

.Timer {
    font-weight: bolder;
    font-size: 1.5em;
    color: white;
    height: 0px;
}

.Score {
    font-weight: bolder;
    font-size: 1.2em;
    color: black;
    padding: 5px;

}

@media screen and (min-width: 768px) {

.Game {
    font-size: 1.2em;
}

.Game button {
    height: 80px;
    width: 150px;
    font-size: 1.2em;
}

.GameContainer {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    width: 500px;
    height: 450px;
}

.ArtistChoices {
    width: 500px;
}

.ArtistChoices button{
    font-size: .85em;
    height: 80px;
    width: 150px;
    font-size: .7em;
}

.audio-player {
    width: 500px;
    height: 360px;
}

.track-info {
    width: 500px;
    height: 350px;
}

.Timer {
    font-weight: bolder;
    font-size: 2em;
    color: white;
    height: 0px;
}

}