@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

.Header {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.userIMG {
    height: auto;
    width: auto;
    border-radius: 50%;
    border: 1px solid gray;
}

.Header_user {
    font-size: .75em;
}


body{
    font-family: 'Montserrat', sans-serif;
    background-color: #0E9594;

}

img{
    width: 350px;
    height: 100px;
    float: left;
}

.google{
    font-family: 'Montserrat', sans-serif;
    background-color: #F2542D;
    color: white;
    border-radius: 10%;
    padding:5px;
    height: 50px;
    width: 90px;
    margin: 3px;
    outline: 0;
    text-transform: uppercase;
    font-size: 1em;
}

@media screen and (min-width: 768px){
    .Header{
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;
    }
}

