
.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-flow: row; */
    flex-wrap: wrap;
}

.fifties button {
    background: url(../assets/50s-logo.svg);
    color: transparent;
    height: 100px;
    width: 100px;
}

.sixties button {
    background: url(../assets/60s-logo-1.svg);
    color: transparent;
    height: 100px;
    width: 100px;
}

.seventies button {
    background: url(../assets/70s-logo-1.svg);
    color: transparent;
    height: 100px;
    width: 100px;
}

.eighties button {
    background: url(../assets/80s-logo-1.svg);
    color: transparent;
    height: 100px;
    width: 100px;
}

.nineties button {
    background: url(../assets/90s-logo-1.svg);
    color: transparent;
    height: 100px;
    width: 100px;
}

.twothousands button {
    background: url(../assets/00s-logo.svg);
    color: transparent;
    height: 100px;
    width: 100px;
}

.twothousandten button {
    background: url(../assets/10s-logo.svg);
    color: transparent;
    height: 100px;
    width: 100px;
}

.twentytwenty button {
    background: url(../assets/20s-logo.svg);
    color: transparent;
    height: 100px;
    width: 100px;
}



a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}

button {
    cursor: pointer;
}

@media screen and (min-width: 768px){

    .Home {
        display: flex;
        height: 100%;
        justify-content: center;
        align-content: center;
    }

    .playlistButtons {
        display: flex;
    }

    .fifties button {
        background: url(../assets/50s-logo.svg);
        color: transparent;
        height: 150px;
        width: 150px;
    }

    .sixties button {
        background: url(../assets/60s-logo-1.svg);
        color: transparent;
        padding:5px;
        height: 150px;
        width: 150px;
        margin: 3px;
        border-radius: 15px;
        font-size: 0;
        cursor: pointer;
    }

    .seventies button {
        background: url(../assets/70s-logo-1.svg);
        color: transparent;
        padding:5px;
        height: 150px;
        width: 150px;
        margin: 3px;
        border-radius: 15px;
        font-size: 0;
        cursor: pointer;
    }

    .eighties button {
        background: url(../assets/80s-logo-1.svg);
        color: transparent;
        font-size: 0px;
        padding:5px;
        height: 150px;
        width: 150px;
        margin: 3px;
        border-radius: 15px;
        font-size: 0;
        cursor: pointer;
    }
    
    .nineties button {
        background: url(../assets/90s-logo-1.svg);
        color: transparent;
        height: 150px;
        width: 150px;
        margin: 3px;
        border-radius: 15px;
        font-size: 0; 
        cursor: pointer;
    }
    
    .twothousands button {
        background: url(../assets/00s-logo.svg);
        color: transparent;
        height: 150px;
        width: 150px;
    }
    
    .twothousandten button {
        background: url(../assets/10s-logo.svg);
        color: transparent;
        height: 150px;
        width: 150px;
    }
    
    .twentytwenty button {
        background: url(../assets/20s-logo.svg);
        color: transparent;
        height: 150px;
        width: 150px;
    }
    


}