.PostGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.PlayAgain{
    font-family: 'Montserrat', sans-serif;
    background-color: #F2542D;
    color: white;
    border-radius: 10%;
    padding:5px;
    height: 60px;
    width: 130px;
    outline: 0;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    
    .PlayAgain {
        height: 80px;
        width: 150px;
        font-size: 1.2em;
    }

    .PostGame {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
       
}
